<div ng-app="atmlApp" ng-controller="atmlCtrl" ng-init="init(<%= @id %>)" layout="column">
  <md-toolbar class="md-primary">
    <h1 class="md-toolbar-tools" ng-if="character.name">{{character.name}}'s Character Sheet</h1>
  </md-toolbar>
  <md-content class="md-padding">
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Character Overview">
        <%= render 'overview' %>
      </md-tab>
      <md-tab label="Combat">
        <%= render 'combat' %>
      </md-tab>
      <md-tab label="Skills and Abilities">
        <%= render 'skills' %>
      </md-tab>
      <md-tab label="Inventory">
        <%= render 'inventory' %>
      </md-tab>
      <md-tab label="Spells">
        <%= render 'spells' %>
      </md-tab>
    </md-tabs>
  </md-content>
</div>