<h1>Listing damage_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @damage_types.each do |damage_type| %>
      <tr>
        <td><%= damage_type.name %></td>
        <td><%= link_to 'Show', damage_type %></td>
        <td><%= link_to 'Edit', edit_damage_type_path(damage_type) %></td>
        <td><%= link_to 'Destroy', damage_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Damage type', new_damage_type_path %>
