<%= form_for(@level_progression) do |f| %>
  <% if @level_progression.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@level_progression.errors.count, "error") %> prohibited this level_progression from being saved:</h2>

      <ul>
      <% @level_progression.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :level %><br>
    <%= f.number_field :level %>
  </div>
  <div class="field">
    <%= f.label :proficiency %><br>
    <%= f.number_field :proficiency %>
  </div>
  <div class="field">
    <%= f.label :min_xp %><br>
    <%= f.number_field :min_xp %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
