<%= form_for(@spell_known_progression) do |f| %>
  <% if @spell_known_progression.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@spell_known_progression.errors.count, "error") %> prohibited this spell_known_progression from being saved:</h2>

      <ul>
      <% @spell_known_progression.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :adventuring_class_id %><br>
    <%= f.text_field :adventuring_class_id %>
  </div>
  <div class="field">
    <%= f.label :subclass_id %><br>
    <%= f.text_field :subclass_id %>
  </div>
  <div class="field">
    <%= f.label :level_progression_id %><br>
    <%= f.text_field :level_progression_id %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.number_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
