<h1>Listing spell_known_progressions</h1>

<table>
  <thead>
    <tr>
      <th>Adventuring class</th>
      <th>Subclass</th>
      <th>Level progression</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spell_known_progressions.each do |spell_known_progression| %>
      <tr>
        <td><%= spell_known_progression.adventuring_class %></td>
        <td><%= spell_known_progression.subclass %></td>
        <td><%= spell_known_progression.level_progression %></td>
        <td><%= spell_known_progression.value %></td>
        <td><%= link_to 'Show', spell_known_progression %></td>
        <td><%= link_to 'Edit', edit_spell_known_progression_path(spell_known_progression) %></td>
        <td><%= link_to 'Destroy', spell_known_progression, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spell known progression', new_spell_known_progression_path %>
