<h1>Listing class_spells</h1>

<table>
  <thead>
    <tr>
      <th>Adventuring class</th>
      <th>Subclass</th>
      <th>Spell</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @class_spells.each do |class_spell| %>
      <tr>
        <td><%= class_spell.adventuring_class %></td>
        <td><%= class_spell.subclass %></td>
        <td><%= class_spell.spell %></td>
        <td><%= link_to 'Show', class_spell %></td>
        <td><%= link_to 'Edit', edit_class_spell_path(class_spell) %></td>
        <td><%= link_to 'Destroy', class_spell, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Class spell', new_class_spell_path %>
