<%= form_for(@prepared_spell) do |f| %>
  <% if @prepared_spell.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prepared_spell.errors.count, "error") %> prohibited this prepared_spell from being saved:</h2>

      <ul>
      <% @prepared_spell.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :character_id %><br>
    <%= f.text_field :character_id %>
  </div>
  <div class="field">
    <%= f.label :spell_id %><br>
    <%= f.text_field :spell_id %>
  </div>
  <div class="field">
    <%= f.label :is_cast %><br>
    <%= f.check_box :is_cast %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
