<h1>Listing spell_progressions</h1>

<table>
  <thead>
    <tr>
      <th>Adventuring class</th>
      <th>Subclass</th>
      <th>Level progression</th>
      <th>Spell level</th>
      <th>Slots</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spell_progressions.each do |spell_progression| %>
      <tr>
        <td><%= spell_progression.adventuring_class %></td>
        <td><%= spell_progression.subclass %></td>
        <td><%= spell_progression.level_progression %></td>
        <td><%= spell_progression.spell_level %></td>
        <td><%= spell_progression.slots %></td>
        <td><%= link_to 'Show', spell_progression %></td>
        <td><%= link_to 'Edit', edit_spell_progression_path(spell_progression) %></td>
        <td><%= link_to 'Destroy', spell_progression, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spell progression', new_spell_progression_path %>
