<h1>Listing weapons</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Damage die</th>
      <th>Die count</th>
      <th>Range</th>
      <th>Damage type</th>
      <th>Item</th>
      <th>Ability</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weapons.each do |weapon| %>
      <tr>
        <td><%= weapon.name %></td>
        <td><%= weapon.damage_die %></td>
        <td><%= weapon.die_count %></td>
        <td><%= weapon.range %></td>
        <td><%= weapon.damage_type %></td>
        <td><%= weapon.item %></td>
        <td><%= weapon.ability %></td>
        <td><%= link_to 'Show', weapon %></td>
        <td><%= link_to 'Edit', edit_weapon_path(weapon) %></td>
        <td><%= link_to 'Destroy', weapon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weapon', new_weapon_path %>
