<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @weapon.name %>
</p>

<p>
  <strong>Damage die:</strong>
  <%= @weapon.damage_die %>
</p>

<p>
  <strong>Die count:</strong>
  <%= @weapon.die_count %>
</p>

<p>
  <strong>Range:</strong>
  <%= @weapon.range %>
</p>

<p>
  <strong>Disadvantage Range:</strong>
  <%= @weapon.range %>
</p>

<p>
  <strong>Damage type:</strong>
  <%= @weapon.damage_type.name %>
</p>

<p>
  <strong>Item:</strong>
  <%= @weapon.item.name %>
</p>

<p>
  <strong>Ability:</strong>
  <%= @weapon.ability.name %>
</p>
<%= link_to 'New Weapon', new_weapon_path %>
<%= link_to 'Edit', edit_weapon_path(@weapon) %> |
<%= link_to 'Back', weapons_path %>
