<h1>Listing characters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Player</th>
      <th>Campaign</th>
      <th>Race</th>
      <th>Class</th>
      <th>Alignment</th>
      <th>Level</th>
      <th>Max hp</th>
      <th>Current hp</th>
      <th>Speed</th>
      <th>Has inspiration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @characters.each do |character| %>
      <tr>
        <td><%= link_to character.name, angular_character_path(character) %></td>
        <td><%= link_to character.player.name, character.player %></td>
        <td><%= character.campaign.name %></td>
        <td><%= character.race %></td>
        <td><%= character.adventuring_class.name %></td>
        <td><%= character.alignment %></td>
        <td><%= character.level_progression.level %></td>
        <td><%= character.max_hp %></td>
        <td><%= character.current_hp %></td>
        <td><%= character.speed %></td>
        <td><%= character.has_inspiration %></td>
        <td><%= link_to 'Show', character %></td>
        <td><%= link_to 'Edit', edit_character_path(character) %></td>
        <td><%= link_to 'Destroy', character, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Character', new_character_path %>
