<p id="notice"><%= notice %></p>

<p>
  <strong>Spell:</strong>
  <%= @spell_duration.spell %>
</p>

<p>
  <strong>Time increment:</strong>
  <%= @spell_duration.time_increment %>
</p>

<p>
  <strong>Value:</strong>
  <%= @spell_duration.value %>
</p>

<%= link_to 'Edit', edit_spell_duration_path(@spell_duration) %> |
<%= link_to 'Back', spell_durations_path %>
