<%= form_for(@character_skill) do |f| %>
  <% if @character_skill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@character_skill.errors.count, "error") %> prohibited this character_skill from being saved:</h2>

      <ul>
      <% @character_skill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :character %><br>
    <%= f.collection_select(:character_id, Character.all, :id, :name, prompt: true) %>
  </div>
  <div class="field">
    <%= f.label :skill %><br>
    <%= f.collection_select(:skill_id, Skill.all, :id, :name, prompt: true) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
