<p id="notice"><%= notice %></p>

<p>
  <strong>Character:</strong>
  <%= @character_skill.character %>
</p>

<p>
  <strong>Skill:</strong>
  <%= @character_skill.skill %>
</p>

<%= link_to 'Edit', edit_character_skill_path(@character_skill) %> |
<%= link_to 'Back', character_skills_path %>
