<%= form_for(@character_ability) do |f| %>
  <% if @character_ability.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@character_ability.errors.count, "error") %> prohibited this character_ability from being saved:</h2>

      <ul>
      <% @character_ability.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :character %><br>
    <%= f.collection_select(:character_id, Character.all, :id, :name, prompt: true) %>
  </div>
  <div class="field">
    <%= f.label :ability %><br>
    <%= f.collection_select(:ability_id, Ability.all, :id, :name, prompt: true) %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.number_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
