<p id="notice"><%= notice %></p>

<p>
  <strong>Character:</strong>
  <%= @character_ability.character.name %>
</p>

<p>
  <strong>Ability:</strong>
  <%= @character_ability.ability.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @character_ability.value %>
</p>

<%= link_to 'New Character ability', new_character_ability_path %>
<%= link_to 'Edit', edit_character_ability_path(@character_ability) %> |
<%= link_to 'Back', character_abilities_path %>
