<h1>Listing armors</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Base ac</th>
      <th>Max ability</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @armors.each do |armor| %>
      <tr>
        <td><%= armor.item %></td>
        <td><%= armor.base_ac %></td>
        <td><%= armor.max_ability %></td>
        <td><%= link_to 'Show', armor %></td>
        <td><%= link_to 'Edit', edit_armor_path(armor) %></td>
        <td><%= link_to 'Destroy', armor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Armor', new_armor_path %>
