<%= form_for(@favorite_spell) do |f| %>
  <% if @favorite_spell.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@favorite_spell.errors.count, "error") %> prohibited this favorite_spell from being saved:</h2>

      <ul>
      <% @favorite_spell.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :player_id %><br>
    <%= f.text_field :player_id %>
  </div>
  <div class="field">
    <%= f.label :spell_id %><br>
    <%= f.text_field :spell_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
