<%= form_for(@class_proficiency) do |f| %>
  <% if @class_proficiency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@class_proficiency.errors.count, "error") %> prohibited this class_proficiency from being saved:</h2>

      <ul>
      <% @class_proficiency.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :adventuring_class %><br>
    <%= f.collection_select(:adventuring_class_id, AdventuringClass.all, :id, :name, prompt: true) %>
  </div>
  <div class="field">
    <%= f.label :ability %><br>
    <%= f.collection_select(:ability_id, Ability.all, :id, :name, prompt: true) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
