<%= form_for(@subclass) do |f| %>
  <% if @subclass.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subclass.errors.count, "error") %> prohibited this subclass from being saved:</h2>

      <ul>
      <% @subclass.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :adventuring_class %><br>
    <%= f.collection_select(:adventuring_class_id, AdventuringClass.all, :id, :name, prompt: true) %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :min_level %><br>
    <%= f.number_field :min_level %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
